body {
	background-color: #282A35;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.container {
	background-color: #FFF;
	width: 50%;
	border: 2px solid;
	padding-bottom: 2rem;
	border-radius: 10px;
}

.question {
	font-size: 2rem;
}

.button {
	margin: 1rem;
	background-color: #555e55;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
.button:hover {
	background-color: #555e55;
	transform: scale(1.05); 
}
.button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}